@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
body {
    margin: 0;
    padding: 0;
    background: #000;
}
.back_button {
    position: fixed;
    top : 85vh;
    left: 0;
    margin: 20px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #9ef499;
    background: #111;
    font-size: 20px;
    font-family: "Poppins";
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.back_button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.back_button:active {
    color: #000
}

.back_button:active:after {
    background: transparent;
}

.back_button:hover:before {
    opacity: 1;
}

.back_button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}
#background {
    z-index: -2;
}
#main {
    z-index: -1;
}
#ship {
    z-index: 0;
}
.score {
    position: absolute;
    top: 15px;
    right: 70px;
    color: #3b94d0;
    font-size: 30px;
    font-style: italic;
    font-family: "Poppins";
    font-weight: bold;
    cursor: default;
}
.level {
    position: absolute;
    top: 15px;
    left: 70px;
    color: #3b94d0;
    font-size: 30px;
    font-style: italic;
    font-family: "Poppins";
    font-weight: bold;
    cursor: default;
}
.game-over {
    position: absolute;
    top: 100px;
    left: 40vw;
    margin: auto;
    color: #fe3713;
    font-size: 40px;
    font-family: "Poppins";
    cursor: default;
    display: none;
}
.game-over span {
    font-size: 40px;
    cursor: pointer;
    position: relative;
    left: 50px;
}
.game-over span:hover {
    color: #00ff40;
}
.loading {
    position: absolute;
    top: 100px;
    left: 40vw;
    margin: auto;
    color: #fe3713;
    font-size: 40px;
    font-family: "Poppins";
    cursor: default;
}